html, body {
  height: 100%;
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*
header {
  height: 50vh;
  background: no-repeat url("../img/mdp.png") center;
  background-size: contain;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100vw;
  height: auto;
}
*/

.header {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.header img {
  float: none;
  object-fit: contain;
}

.d-none {
  display: none;
}

main, footer {
  padding: 0 50px;
}

h1, h2 {
  text-align: center;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

.presentation {

}

.videos {
  padding: 30px;
}

.videos-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videos-content iframe {
  width: 560px;
  height: 315px;
}