html, body {
  height: 100%;
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 450px;
}

header .img-container {
  overflow: hidden;
  height: 450px;
  width: 100%;
  text-align: center;
  align-items: center;
  transition-property: opacity;
  position: absolute;
  top: 0;
}

.fade-out {
  opacity: 0;
  transition-duration: 0.5s;
}

.fade-in {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-none {
  display: none;
}

main, footer {
  padding: 0 50px;
}

h1, h2 {
  text-align: center;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

.videos {
  padding: 30px;
}

.videos-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videos-content iframe {
  width: 560px;
  height: 315px;
}

footer {
  min-height: 50px;
}
.icons-container {
  max-width: 200px;
  margin: auto auto;
  display: flex;
  justify-content: space-around;
}

.icons-container-icon {
  max-width: 30px;
  max-width: 30px;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  header {
    height: 300px;
  }
 
  header .img-container {
    height: 300px;
  }

  .photo {
    max-height: 300px;
  }
}

@media (max-width: 750px) {
  header {
    height: 250px;
  }
 
  header .img-container {
    height: 250px;
  }

  .photo {
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  header {
    height: 200px;
  }
 
  header .img-container {
    height: 200px;
  }

  .photo {
    max-height: 200px;
  }

  .videos-content iframe {
    max-width: 400px;
    max-height: 225px;
  }
}

@media (max-width: 350px) {
  header {
    height: 150px;
  }
 
  header .img-container {
    height: 150px;
  }

  .photo {
    max-height: 150px;
  }

  .videos-content iframe {
    max-width: 300px;
    max-height: 168.75px;
  }
}