html, body {
  height: 100%;
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img-container {
  overflow: hidden;
  height: 450px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-none {
  display: none;
}

main, footer {
  padding: 0 50px;
}

h1, h2 {
  text-align: center;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

.presentation {

}

.videos {
  padding: 30px;
}

.videos-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videos-content iframe {
  width: 560px;
  height: 315px;
}